<a href="https://colab.research.google.com/github/imutsaw/day1/blob/main/if_sattements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x= int(input("Enter the value:"))
if x > 0:
  print("Value is positive")

elif x < 0:
  print("Value is negative")

else:
  print("value is zero")

Enter the value:6
Value is positive

In [8]:
name = input("Enter the name:")
mark = int(input("Enter the mark:"))

if mark < 45:
    print(name, "has failed in the exam")
        
elif mark > 45:
    print(name, "has passed in the exam")
        
else:
    print(name,"has just passed")

Enter the name:Utsaw
Enter the mark:98
Utsaw has passed in the exam

In [1]:
x= 51
s ="yes" if x < 50 else "no"    #short hand if else statement
print(s)

yes

In [2]:
x = 5
if 0 < x < 10:
  print("In range A")
else:
  print("Not in range")

In range A

In [3]:
x = [123, 54, 92, 87, 33]
y = x[:] # y is a copy of x
z = x
print(x)
print("Are values of y and x the same?", y == x)
print("Are objects y and x the same?", y is x)
print("Are values of z and x the same?", z == x)
print("Are objects z and x the same?", z is x)
# Let's change x
x[1] = 23
print(x)
print(y)
print("Are values of y and x the same?", y == x)
print("Are objects y and x the same?", y is x)
print("Are values of z and x the same?", z == x)
print("Are objects z and x the same?", z is x)

[123, 54, 92, 87, 33]
Are values of y and x the same? True
Are objects y and x the same? False
Are values of z and x the same? True
Are objects z and x the same? True
[123, 23, 92, 87, 33]
[123, 54, 92, 87, 33]
Are values of y and x the same? False
Are objects y and x the same? False
Are values of z and x the same? True
Are objects z and x the same? True

In [ ]:
x = ''   #an empty string
y = ['a']