<a href="https://colab.research.google.com/github/imutsaw/day1/blob/main/list_and_its_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
list=[]
print(list)

[]

In [22]:
#creating a list
list=[10,20,14]
print(list)

[10, 20, 14]

In [23]:
#adding elements in the list using append function, only one item can be added by this method using this
list.append(1)
list.append(2)
list.append(3)
print(list)

[10, 20, 14, 1, 2, 3]

In [24]:
#adding elements in the list using iterators 
for i in range(1,5):
  list.append(i)
print(list)

[10, 20, 14, 1, 2, 3, 1, 2, 3, 4]

In [26]:
#adding list to list 
list2=['jodha' , 'akbar', 100]
list.append(list2)
print(list)

[10, 20, 14, 1, 2, 3, 1, 2, 3, 4, ['jodha', 'akbar', 100], ['jodha', 'akbar', 100]]

In [27]:
#adding elements in the list using inset method, items can be added in therir desired location (position, value)
list.insert(3,12)
list.insert(0,'babur')
print(list)

['babur', 10, 20, 14, 12, 1, 2, 3, 1, 2, 3, 4, ['jodha', 'akbar', 100], ['jodha', 'akbar', 100]]

In [31]:
#adding elements using extend method, multiple items can be added at the end of the list 
list = [1,2,3]
list.extend([8,'gaurav','rahul'])
print(list)

[1, 2, 3, 8, 'gaurav', 'rahul']

In [33]:
#accessing elements from the list using index number
a= list[0]
print(a)
#or
print(list[0])

1
1

In [34]:
#accessing an element from multi- dimensional list 
list=[['gaurav', 'pen'] , ['rahul', 'paper']]
print(list[0][1])
print(list[1][0])

pen
rahul

In [35]:
#negative indexing 
l=[1,2,'gaurav','pen','paper','rahul']
print(l[-2])

paper

In [41]:
#removing item from a list using remove function
l=[1,2,3,4,5,6,7,8,9,10,11,12]
print(l)
l.remove(8)
l.remove(10)
print(l)
#removing element using iterators method
for i in range(1,5):
  l.remove(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 9, 11, 12]
[5, 6, 7, 9, 11, 12]

In [43]:
#removing elements using pop function, from a specific position. it removes and return the element
l=[1,2,3,4,5,6,7,8,9,10]
l.pop(4)
print(l)

[1, 2, 3, 4, 6, 7, 8, 9, 10]