<a href="https://colab.research.google.com/github/imutsaw/day1/blob/main/loops_and_if_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = int(input("value of length"))
b= int(input("value of breadth"))
if a==b:
  print("It is a square")
else:
  print("It is a rectangle")

value of length5
value of breadth5
It is a square

In [3]:
#take 2 variable with integer value and find and print weather variable is greater , smaller or both are equal by using short hand if..else method
a=int(input("value of a"))
b=int(input("value of b"))
print("equals") if a==b else print("a greater") if a>b else print("a less than b")

value of a2
value of b4
a less than b

In [9]:
for i in range(4,20,2):
  print(i)

4
6
8
10
12
14
16
18

In [10]:
for i in range(4,20,2):
  print(i)

4
6
8
10
12
14
16
18

In [13]:
x=int(input("enter the no."))
a=0
for i in range(x+1):
    a=a+i
print(a)

enter the natural no.20
210

In [14]:
new_list = []
n = int(input("Enter number of elements : "))
  
for i in range(0, n):
    ele = input()
  
    new_list.append(ele)
      
print(new_list)
new_list.sort()
print("After sorting: ", new_list)
new_list.sort(reverse = True)
print("After reverse sorting: ", new_list)

Enter number of elements : 1
apple
['apple']
After sorting:  ['apple']
After reverse sorting:  ['apple']

In [4]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
l3=[5,4,3,2,1]
l4=[1,2,3,4,5]
print(l1 == l2)
print(l1 == l3)
print(l1==l4)

False
False
True

In [5]:
d1={1:1,2:2,3:3,4:4}
d2={4:4,3:3,2:2,1:1}
print(d1==d2)

True

In [8]:
for num in [1,2,3,4,5]:
    print(num**3)

1
8
27
64
125

In [3]:
for i in 'HelloWorld':
  print(i)

H
e
l
l
o
W
o
r
l
d

In [16]:
import random
r1= random.random() #gives random number from 0-1
print(r1)

#random number from the given list
r2=random.choice([1,2,3,4,5])
print(r2)

#gives a random in the given range
r3= random.randint(1,100)
print(r3)

0.10584235768356565
2
90

In [17]:
for i in range(2000,2100,25):  #(start: stop: step)
  print(i)

2000
2025
2050
2075

In [18]:
menu={'rajma':50,'chawal':25,'chicken':100,'curry':75}
for name, price in menu.items():
  print(name,':Rs', price)

rajma :Rs 50
chawal :Rs 25
chicken :Rs 100
curry :Rs 75

In [21]:
n=int(input("Enter the number"))
for num in range(0,n+1,2):   #(start:stop:step), here n is the input and (n+1) is the end digit
  print(num)

Enter the number6
0
2
4
6

In [30]:
n=1
num= int(input("Enter the number"))
while n<num:
  n+=1
  print(n)
  n+=1

Enter the number10
2
4
6
8
10

In [2]:
x=int(input("Enter the number X:"))
y=int(input("Enter the number Y:"))
if x<y:
  print('x is less than y')
elif x>y:
  print('x is greater than y')
else:
  print('x and y are equal')

Enter the number X:9
Enter the number Y:9
x and y are equal

In [5]:
crypto={"btc":"bitcoin","mat":"matic", "wrx":"wazir","doge":"dogecoin"}

for x in crypto:
  print(x, crypto[x])

btc: bitcoin
mat: matic
wrx: wazir
doge: dogecoin

In [6]:
total=5
values=[1,2,3,4,5]

for v in values:
  total += v     #it means  total= total + v
  print(total)

6
8
11
15
20

In [9]:
#shivam's marksheet
marksheet={
    'maths':98,
    'english':41,
    'sst': 30,
    'science':99,
    'moral science': 45
}    


for subject in marksheet:
  if marksheet.get(subject) < 41:
    print(subject,":failed")

  elif marksheet.get(subject) > 41:
    print(subject,":passed")

  else:
    print(subject,':just passed')

maths :passed
english :just passed
sst :failed
science :passed
moral science :passed

In [12]:
value = int(input("Enter the value:"))
while value < 8:
  value = value*2
  print(value)
  break
print('final value:', value)

Enter the value:3
6
final value: 6

In [16]:
#sum of positive integer in a list
list=[1,2,4,-6,-9,-10,20]
total=0
for l in list:
  if l>0:
    total += l
  continue
print(total)

27

In [18]:
#print from 1-12
for n in range(1,20):
  if n % 13 == 0:
    break
  else:
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12

In [20]:
#power of its own number till 9
for x in range(10):
  print(x*x)

0
1
4
9
16
25
36
49
64
81

In [22]:
square=[]
for x in range(10):
  s=x*x
  square.append(s)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
alpha=['a','b','c','d','e']
for index, letter in enumerate(alpha):
  print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [2]:
numbered_alpha = list(enumerate(alpha))
print(numbered_alpha)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [5]:
city_pops = {
    'London': 8200000,
    'Cambridge': 130000,
    'Edinburgh': 420000,
    'Glasgow': 1200000
}

big_cities = []
for city in city_pops:
    if city_pops[city] >= 1000000:
         big_cities.append(city)

print(big_cities)

['London', 'Glasgow']

In [6]:
total = 0
for city in city_pops:
    total += city_pops[city]
print("total population:", total)

total population: 9950000

In [7]:
pops = list(city_pops.values())
print("total population:", sum(pops))

total population: 9950000