<a href="https://colab.research.google.com/github/imutsaw/python/blob/main/p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Python Program to find Sum of N Natural Numbers
 
number = int(input("Please Enter any Number: "))
total = 0

for value in range(1, number + 1):
    total = total + value

print("The Sum of Natural Numbers from 1 to", number," =", total)

Please Enter any Number: 25
The Sum of Natural Numbers from 1 to 25  = 325

In [8]:
#inserting items in a list

l1=["apple", "cherry", "banana"]
print("The original list is given as: ",l1)


#inserting items in a specific position
l1.insert(2,"watermelon")
print("The new list is given as: ",l1)

#inserting items in a list using append
l1.append("mangoes")
print("The appended new list is given as: ",l1)

The original list is given as:  ['apple', 'cherry', 'banana']
The new list is given as:  ['apple', 'cherry', 'watermelon', 'banana']
The appended new list is given as:  ['apple', 'cherry', 'watermelon', 'banana', 'mangoes']

In [9]:
l2=["chocolate", "waffer", "biscuits"]
l1.extend(l2)
print("The new extended list is given as: ", l1)

The new extended list is given as:  ['apple', 'cherry', 'watermelon', 'banana', 'mangoes', 'chocolate', 'waffer', 'biscuits']

In [16]:
#Take user input list and the list should contains all types of data. Print the list in ascending as well as in descending order
list=[]
num=int(input())
for i in range(num):
    elements=input()
    list.append(elements)
print(list)
list.sort()
print(list)
list.sort(reverse = True)
print(list)

8
3
6
2
1
hi
9
7
6
['3', '6', '2', '1', 'hi', '9', '7', '6']
['1', '2', '3', '6', '6', '7', '9', 'hi']
['hi', '9', '7', '6', '6', '3', '2', '1']

In [17]:
"""List Comprehension- List comprehension offers a shorter syntax when you want to create a new list based on the values 
of an existing list.

syntax-
"""

#without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']