<a href="https://colab.research.google.com/github/imutsaw/python/blob/main/p2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#set
#accessing items from a set
set={"apple", "banana", "cherry"}

for x in set:
  print(x)

#checking items present in a set
print("\n")
print("banana" in set)

banana
cherry
apple


True

In [2]:
#add items in a set using add() method
set.add("orange")
print(set)

print("\n")
#add items in a set using update() method
tropical=("pineapple", "mango", "papaya")
set.update(tropical)
print(set)
print("\n")


#adding items from list, tuple & dictionary
set = {"apple", "banana", "cherry"}
mylist=["kiwi", "orange"]
thistuple=("papaya", "dragon fruit")
thisdict={"mango": 4, "watermelon": 5}
set.update(mylist, thistuple, thisdict)

print(set)

{'banana', 'cherry', 'orange', 'apple'}


{'papaya', 'apple', 'mango', 'banana', 'orange', 'cherry', 'pineapple'}


{'papaya', 'apple', 'dragon fruit', 'mango', 'banana', 'orange', 'kiwi', 'cherry', 'watermelon'}

In [3]:
#remove an item from a set using remove() method
set={'papaya', 'apple', 'dragon fruit', 'mango', 'banana', 'orange', 'kiwi', 'cherry', 'watermelon'}
set.remove("cherry")
print(set)
print("\n")

#remove an item from a set using discard() method
set.discard("banana")
print(set)
print("\n")

#remove an item from a set using pop() method
set.pop()
print(set)

{'papaya', 'dragon fruit', 'apple', 'mango', 'banana', 'orange', 'kiwi', 'watermelon'}


{'papaya', 'dragon fruit', 'apple', 'mango', 'orange', 'kiwi', 'watermelon'}


{'dragon fruit', 'apple', 'mango', 'orange', 'kiwi', 'watermelon'}

In [5]:
#clearing a set using clear() method
set={"apple", "banana", "cherry"}
set.clear()
print(set)
print("\n")


#delete the set  completely
del set

print(set)

set()


<class 'set'>

In [6]:
#joining of two set union() method
set= {"a", "b", "c"}
set={1, 2, 3}
set3= set1.union(set2)
print(set3)
print("\n")


#joining of two sets using update() method
set= {"a", "b", "c"}
set={1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 'b', 'c', 3, 'a'}


{1, 2, 'b', 'c', 3, 'a'}

In [7]:
#Dictionary
d={'key1': 'item1', 'key2':'item2', 'key3': 'item3'}
print(d)
print(d["key1"])

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}
item1

In [8]:
#string, int, boolean and lsit data types in dictionary
dict = {"brand": "Ford","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
print(dict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [9]:
#Accessing Items:You can access the items of a dictionary by referring to its key name
print(dict["year"])
#Accessing items using get() method
print(dict.get("colors"))

1964
['red', 'white', 'blue']

In [10]:
#Get Keys:The keys() method will return a list of all the keys in the dictionary.
x = dict.keys()
print(x)

dict_keys(['brand', 'electric', 'year', 'colors'])

In [11]:
#Get Values:The values() method will return a list of all the values in the dictionary.
x = dict.values()
print(x)

dict_values(['Ford', False, 1964, ['red', 'white', 'blue']])

In [12]:
#Get Items:The items() method will return each item in a dictionary, as tuples in a list.Get a list of the key:value pairs
x = dict.items()
print(x)

dict_items([('brand', 'Ford'), ('electric', False), ('year', 1964), ('colors', ['red', 'white', 'blue'])])

In [13]:
#Make a change in the original dictionary
x = dict["year"] = 2020

print(x) #after the change
print(dict)

#Add a new item to the original dictionary
y = dict["slno"] = "4100"

print(y) #after the change
print(dict)

2020
{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue']}
4100
{'brand': 'Ford', 'electric': False, 'year': 2020, 'colors': ['red', 'white', 'blue'], 'slno': '4100'}

In [14]:
#Updating or changing in a dictionary
dict = {"brand": "Ford","electric": False,"year": 1964,"color":"red"}
dict.update({"year": 2020})
print(dict)

{'brand': 'Ford', 'electric': False, 'year': 2020, 'color': 'red'}

In [15]:
#Looping in the dictionary
dict = {"brand": "Ford","electric": False,"year": 1964,"color":"red"}

"""Print all key names in the dictionary, one by one"""
for x in dict:
    print(x)

print('\n')
"""Print all values in the dictionary, one by one"""
for x in dict:
    print(dict[x])

brand
electric
year
color


Ford
False
1964
red

In [16]:
#return values in dict
for x in dict.values():
  print(x)

print("\n")
#return values in keys
for x in dict.keys():
  print(x)

print("\n")
#return values and keys pair in dict
for x,y in dict.items():
  print(x, "->", y)

Ford
False
1964
red


brand
electric
year
color


brand -> Ford
electric -> False
year -> 1964
color -> red

In [17]:
#Nested dictionary

myfamily = {"child1" : {"name" : "Emil","year" : 2004},"child2" : {"name" : "Tobias","year" : 2007},"child3" : 
            {"name" : "Linus","year" : 2011}}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [2]:
#Qno- Create three dictionaries separately, then create one dictionary that will contain the other three dictionaries
# Python code to merge dict using a single
# expression
def Merge(dict1, dict2, dict3):
	res = {**dict1, **dict2, **dict3}
	return res
	
# Driver code
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = {'e':5, 'f':7}
dict4 = Merge(dict1, dict2, dict3)
print(dict4)

{'a': 10, 'b': 8, 'd': 6, 'c': 4, 'e': 5, 'f': 7}

In [3]:
#Write a program to multiply all elements of dictionary Input:- FruitDict = {'Apple': 10, 'banana': 5,'orange':4,'Guava':6} Output:- 1200
FruitDict = {'Apple': 10, 'banana': 5,'orange':4,'Guava':6}
result=1
for key in FruitDict:    
    result=result * FruitDict[key]

print(result)

1200

In [10]:
#Create a user input dictionary having two key:value pair and check whether one of the key given by you is pesent in the dictionary Input:- {hari:59,sunny:60} Checking_input:- hari Output:- hari=59
# given key already exists in a dictionary.
  
# Function to print sum
def checkKey(dict, key):
      
    if key in dict.keys():
        print("Present, ", end =" ")
        print(key, " = ", dict[key])
    else:
        print("Not present")
  
# Driver Code
dict = {'hari' : 59,'sunny' : 60}
  
key = input("Enter the key: ")
checkKey(dict, key)

Enter the key: hari
Present,  hari  =  59