<a href="https://colab.research.google.com/github/imutsaw/python/blob/main/p3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#function
def func():
  print("This is a custom function")

In [2]:
func()

This is a custom function

In [4]:
def func1(a):
  print("This is a custom function " +str(a))

In [5]:
func1("created by me")
func1(2)
func1(89.3356)

This is a custom function created by me
This is a custom function 2
This is a custom function 89.3356

In [8]:
def func2(a,b):
  c=a+b
  print(c)
func2(6,5)
func2('ram & ', 'hari')

11
ram & hari

In [2]:
#use of return statement ina function 
def add(a,b):
  return a+b

addition= func5(9,8)
print("the sum of number using return statement and defining a function is {}".format(addition))

the sum of number using return statement and defining a function is 17

In [1]:
#Average of list of nos.
def cal_average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

print("The average is", cal_average([18,25,3,41,5]))

The average is 18.4

In [2]:
#use of default argument
def func3(name='utsaw', roll_no=5, branch='CSE'):
  print('Name is ' +name)
  print('Roll no. is ' +str(roll_no))
  print('Branch is ' +branch, end='\n\n')
func3()

Name is utsaw
Roll no. is 5
Branch is CSE

In [3]:
func3('hari')

Name is hari
Roll no. is 5
Branch is CSE

In [5]:
func3('saswat',8,'ETC')

Name is saswat
Roll no. is 8
Branch is ETC

In [6]:
func3(roll_no=3)

Name is utsaw
Roll no. is 3
Branch is CSE

In [2]:
#Use of variable argument
def funvar(name='Ram', *vararg):
  print('Name is '+name, end='\n')
  for i in vararg:
    print(i)
funvar()
funvar('Hari')

Name is Ram
Name is Hari

In [3]:
funvar('Shyam', 'Roll no is 3', 'Branch is CSE')

Name is Shyam
Roll no is 3
Branch is CSE

In [4]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name
def my_function(**St):
    print("Her last name is " +St["lname"])

my_function(fname = "Supreeti", lname = "Subudhi")

Her last name is Subudhi

In [6]:
#Global variable
#Global Variable can be used by other fuction too
global d
def add(a,b,c):
  d=a+b+c
  return d
def prod(e):
  f=d*e
  return f
print(add(5,3,2))
print(prod(2))

10
20

In [8]:
#lambda function inside a function
def myfunc(n):
  return lambda a : a * n
x = myfunc(5)
print(x(10))

50

In [9]:
#LAMBDA FUNCTION
x = lambda a : a * 6
print(x(6))


#multiply argument with a argumenent b and return the result:
x = lambda a, b : a * b
print(x(6,6))

36
36