<a href="https://colab.research.google.com/github/imutsaw/day1/blob/main/tuple_and_its_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#tuples
#creating tuples with mixed data types
tup1=(5,'hello', 7,'world')
print(tup1)

#creating a nested tuple
tup2=(6,8,9)
tup3=(tup1, tup2)
print("\nnested tuple:", tup3)

(5, 'hello', 7, 'world')

nested tuple: ((5, 'hello', 7, 'world'), (6, 8, 9))

In [5]:
#accessing tuples using indexing
tup1=("hello")
print(tup1[1])

e

In [6]:
#creating tuples using built in tuple function
tup= tuple('hello')
print(tup)

('h', 'e', 'l', 'l', 'o')

In [7]:
#tuple unpacking 
tup1=("world", "environment", "day")
#this line unpack 
#values of tuple
a,b,c= tup1
print("values after unpacking:")
print(a)
print(b)
print(c)

values after unpacking:
world
environment
day

In [9]:
#concatanation of tuples
tup1=(1,2,3,4)
tup2=('world', 'environment', 'day')
tup3= tup1 + tup2

print(tup1)
print(tup2)
print(tup3)   #concatenated tuple

(1, 2, 3, 4)
('world', 'environment', 'day')
(1, 2, 3, 4, 'world', 'environment', 'day')

In [10]:
#since tuple is immutable it cannot be deleted 
Tuple1 = (0, 1, 2, 3, 4)
del Tuple1
 
print(Tuple1)

NameError: ignored